# Ignore key.py everywhere
**/key.py
**/keys.py
**/keys/**

# Ignore Python cache files
**/__pycache__/**
**/.ipynb_checkpoints/**

#Ignore testing notebooks in pipelines folder
**/pipelines/**.ipynb
